$font_path: '~@/assets/fonts/';

@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), local('Roboto-Light'),
  url($font_path + 'Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), local('Roboto-Regular'),
  url($font_path + 'Roboto-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto-Medium'), local('Roboto-Medium'),
  url($font_path + 'Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: local('RobotoCondensed-Bold'), local('RobotoCondensed-Bold'),
  url($font_path + 'RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}